body{
    background: #212121;
    color: #BBB;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    text-align: justify;
    box-shadow: 10px 0 20px #000;
}
section .container{
    margin: auto auto;
}
section .container .row{
    background: rgba(0,0,0,0.4);
    box-shadow: 1px 1px 2px #000;
}
section .container .row{
    padding: 20px;
}
section#about{
    background: url(../img/bg_about.jpg);
    background-size: cover;
}
section#projects{
    background: url(../img/bg_projects.jpg);
    background-size: cover;
}
section#skills{
    background: url(../img/bg_skills.jpg);
    background-size: cover;
}
section#contacts{
    background: url(../img/bg_contacts.jpg);
    background-size: cover;
}

.navbar-inverse{
    background: rgba(0,0,0,0.8);
    max-height: 100px;
}

.navbar-brand{
    /*font-family: 'Poiret One', cursive;*/
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Arima Madurai', cursive;
    font-size: 24pt;
}