body {
    color: #CCC;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    text-align: justify;
    box-shadow: 10px 0 20px #000;
}

section#about {
    background: url(../img/bg_about.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section#projects {
    background: url(../img/bg_projects.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section#skills {
    background: url(../img/bg_skills.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section#contacts {
    background: url(../img/bg_contacts.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section .container {
    margin: auto auto;
}

section .container .row {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 2px #000;
    max-height: 90vh;
    overflow-y: auto;
}

section .container .row {
    padding: 20px;
}

.navbar-inverse {
    background: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    font-family: 'Arima Madurai', cursive;
    font-size: 24pt;
}

.modal-body p{
    margin: 10px;
    text-align: justify;
}
figure{
    text-align: center;
    padding: 10px;
}
figcaption{
    margin: 5px;
}